/target
/10-randomSent-CVfolds=OCT25.txt
/LabelExamples
/NER10-rich-randomSent-fold10.0-NOV08.en.FDA_MLModel
/OutputCOnsole
/P0S-rich-randomSent-fold10.0-NOV08.en.FDA_MLModel
/POS-rich-randomSent-fold10.0-OCT25.en.FDA_MLModel
/10-randomSent-CVfolds-OCT25.txt
/outputCOnsole
/POS-rich-randomSent-fold10.0-NOV08.en.FDA_MLModel
